@function calc-percent($width, $height) {
  @return ($height / $width) * 100%;
}

.image-wrapper {
	/*Adding a loader and background color. The user will see it
	if the image is loading slow.
    background: #1E1E1E url('loader.gif') center center no-repeat;*/
    width: 100%;
    height: 0;
    background-color: $purple;
}

.ratio_12-9 {
	/*The image has a 16/9 ratio. Until the image has loaded
    we need to reserve some space so the page won't reflow.
    How to calculate the space (padding-bottom): 9/16*100 = 56.25
    Another example: you have an image 400x250.
    So if you want to calculate the space you do: 250/400*100 = 62.5*/
    padding-bottom: 75%;
}

.ratio_134-147 {
    padding-bottom: 109.7%;
}

.ratio_329-600{
	padding-bottom: 54.83%;
}

.ratio_1440{
	padding-bottom: 188.194%;
}

.ratio_1440-900{
	padding-bottom: 62.5%;
}

.ratio_440-312{
	padding-bottom: 70.91%;
}

.ratio_1024-562{
	padding-bottom: calc-percent(1024px, 562px);
}

.ratio_1400-5446{
	padding-bottom: calc-percent(1400px, 5446px);
}

.ratio_1400-894{
	padding-bottom: calc-percent(1400px, 894px);
}

.ratio_4-3{
	padding-bottom: 75%;
}

.ratio_1440-2846{
	padding-bottom: calc-percent(1440px, 2846px);
}

.ratio_1440-1630{
	padding-bottom: calc-percent(1440px, 1630px);
}

.ratio_1400-1443{
	padding-bottom: calc-percent(1400px, 1443px);
}

.ratio_tablet-vert{
	padding-bottom: 133.33%;
}

.ratio_phone-vert{
	padding-bottom: 177.5%;
}

.ratio_tablet-horiz{
	padding-bottom: 75%;
}

.b-lazy {
	max-width: 100%;
	@include transition(compact(all .4s ceaser($easeInCirc) .4s));
	opacity: 0;
}

img.b-loaded {
	opacity: 1;
}

.info-image {
	padding-bottom: 62.5%;
}
